<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!--Fragment for Header element-->
<body>
    <header th:fragment="header" class="py-1 border-bottom mb-3" style="background-color: #C1A73F;">
        <div class="container" >
            <div class="text-center my-2">
                <h1 class="fw-bolder" style="font-family: 'Rubik Puddles', serif">
                    <a style="text-decoration:none; color:black;" th:href="@{/}">Spilled The Tea</a>
                </h1>
            </div>
        </div>
    </header>
</body>
</html>