<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"/>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"/>
    <div th:replace="fragments/header :: header"/>
    <div class="container" style="min-height: 80vh; font-family: 'Raleway', sans-serif;">

        <form action="#"  th:action="@{'/posts/savepost'}"  method="post">


            <div class="form-outline mb-4">
                <label class="form-label" for="heading">Heading</label>
                <input type="text" id="heading" class="form-control" th:field="*{post.heading}" required minlength="3" maxlength="75"/>
            </div>


            <!-- Message input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="content">Post</label>
                <textarea class="form-control" id="content" rows="4" th:field="*{post.content}" required minlength="5" maxlength="350"></textarea>
            </div>

            <div class="form-outline mb-4">
                <p>Select Category: (Hold Ctrl to add more than 1)</p>
			    <br />
			    <select id="category" th:field="*{post.categories}" multiple="multiple">
				<option th:each="category : ${allCategories}"
						th:value="${{category}}"
						th:text="${category.name}">
				</option>
			    </select>

            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>

</body>
</html>