<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: head"/>
    <body style="font-family: 'Raleway', sans-serif;">
        <!-- Responsive navbar-->
        <div th:replace="fragments/navbar :: navbar"/>
        <!-- Page header with logo and tagline-->
        <div th:replace="fragments/header :: header"/>
        <div class="container" style="min-height: 80vh; font-family: 'Raleway', sans-serif;">
            <div class="row">
                <h1 class="bg-light">Admin</h1>
                <hr>
                <h2>Create User</h2>
                <br>

                <form action="#" th:action="@{/admin/saveUser}" th:object="${user}" method="POST">

                    <label class="form-label" for="email">Email</label>
                    <input type="text" th:field="*{email}" id="email"
                           placeholder="Email" class="form-control mb-4 col-4">

                    <label class="form-label" for="password">Password</label>
                    <input type="text" th:field="*{password}" id="password"
                           placeholder="Password" class="form-control mb-4 col-4">

                    <label class="form-label" for="username">User Name</label>
                    <input type="text" th:field="*{userName}" id="username"
                           placeholder="User Name" class="form-control mb-4 col-4">

                    <label class="form-label" for="firstname">First Name</label>
                    <input type="text" th:field="*{firstName}" id="firstname"
                           placeholder="First Name" class="form-control mb-4 col-4">

                    <label class="form-label" for="lastname">Last Name</label>
                    <input type="text" th:field="*{lastName}" id="lastname"
                           placeholder="Last Name" class="form-control mb-4 col-4">


                    <button type="submit" class="btn btn-primary col-2">Save User</button>
                </form>
                <hr>
                <a th:href="@{/admin}"> Back to users</a>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>