<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>
<div th:replace="fragments/header :: header"/>

<!-- Page content-->
<div class="container mt-5" style="min-height: 75vh; font-family: 'Raleway', sans-serif;">
    <div class="row">
        <div class="col-lg-10">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${post.heading}"></h1>
                    <!-- Post meta content -->
                    <div class="text-muted fst-italic mb-2" th:text="${post.user.userName}"></div>
                </header>

                <section class="mb-5">
                    <p th:text="${post.content}"></p>
                </section>
            </article>

            <div class="row">
                <div class="col-lg-8">
                    <!-- Blog posts-->
                    <div class="card mb-4">
                        <div class="card-header">Comments</div>
                        <a class="btn btn-primary" th:href="@{'~/leaveComment/' + ${post.id}}">Leave Comment</a>
                        <br><br>
                        <div class="card-body" th:each="comment: ${listComments}">
                            <p class="card-text" th:text="${comment.content}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div th:replace="fragments/widget :: widget"/>
    </div>
</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>