<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head"/>
    <body>
        <div th:replace="fragments/navbar :: navbar"/>
        <div th:replace="fragments/header :: header"/>

        <div class="container" style="min-height: 80vh; font-family: 'Raleway', sans-serif;">
            <div class="row">

                <h2>Create Account</h2>
                <br><br>
                <form action="#" th:action="@{/register/save}" th:object="${user}" method="POST">
                    <label for="email">Email</label>
                    <input type="email" th:field="*{email}" id="email"
                    placeholder="Email" class="form-control mb-4 col-4" required>

                    <label for="password">Password</label>
                    <input type="text" th:field="*{password}" id="password"
                    placeholder="Password" class="form-control mb-4 col-4" required minlength="8">

                    <label for="username">User Name</label>
                    <input type="text" th:field="*{userName}" id="username"
                    placeholder="User Name" class="form-control mb-4 col-4" required minlength="6">

                    <label for="firstname">First Name</label>
                    <input type="text" th:field="*{firstName}" id="firstname"
                    placeholder="First Name" class="form-control mb-4 col-4" required>

                    <label for="lastname">Last Name</label>
                    <input type="text" th:field="*{lastName}" id="lastname"
                    placeholder="Last Name" class="form-control mb-4 col-4" required>


                    <button type="submit" class="btn btn-primary">Save User</button>
                </form>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>