<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/head"/>

    <body>
        <div th:replace="fragments/navbar :: navbar"/>
        <div th:replace="fragments/header :: header"/>

        <div class="container" style="min-height: 80vh; font-family: 'Raleway', sans-serif;">
            <div class="row">
                <h2>Update</h2><br> <br>

                <form action="#" th:action="@{/profile/saveUser}" th:object="${user}" method="POST">
                    <input type="hidden" th:field="*{email}"
                    class="form-control mb-4 col-4" required>
                    <h5 th:text="${user.email}"></h5>

                    <label for="password" style="color:red;">Please delete placeholder and re-enter/create new password</label>
                    <input type="text" th:field="*{password}"
                    id="password" placeholder="Enter Password" class="form-control mb-4 col-4" required minlength="8">

                    <label for="username">User Name</label>
                    <input type="text" th:field="*{userName}"
                    id="username" th:placeholder="${user.userName}" class="form-control mb-4 col-4" required minlength="6">

                    <label for="firstname">First Name</label>
                    <input type="text" th:field="*{firstName}"
                    id="firstname" th:placeholder="${user.firstName}" class="form-control mb-4 col-4" required>

                    <label for="lastname">Last Name</label>
                    <input type="text" th:field="*{lastName}"
                    id="lastname" th:placeholder="${user.lastName}" class="form-control mb-4 col-4" required>

                    <button type="submit" class="btn btn-primary">Save User</button>
                    <a th:href="@{/profile}" class="btn btn-primary">Back To My Posts</a>
                </form>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>