<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head"/>

    <body style="font-family: 'Raleway', sans-serif;">
        <!-- Responsive navbar-->
        <div th:replace="fragments/navbar :: navbar"/>
        <!-- Page header with logo and tagline-->
        <div th:replace="fragments/header :: header"/>
        <!-- Page content-->
        <div class="container" style="min-height: 80vh;">
            <div class="row">
                <div class="col-lg-10">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-10">
                        <!-- Blog posts-->
                            <div class="card mb-4">
                                <div class="card-header"><h4 th:text="|${user.userName}'s Posts|"></h4></div>
                                    <div class="card-body" th:each="post: ${listPosts}">
                                        <div class="small text-muted" th:text="${post.user.userName}"></div>
                                        <h2 class="card-title h4" th:text="${post.heading}"></h2>
                                        <p class="card-text" th:text="${post.content}"></p>
                                        <div>
                                            <a class="btn btn-primary" th:href="@{'/posts/post/' + ${post.id}}">See Post</a>
                                            <a class="btn btn-danger" th:href="@{'/posts/delete/' + ${post.id}}">Delete Post</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" th:fragment="widget">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header"><h5>Update</h5></div>
                        <div class="card-body" align="center"><a class="btn btn-primary" th:href="@{'profile/update/' + ${user.email}}">Update My Info</a></div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header"><h5>Things To Brew</h5></div>
                        <div class="card-body" align="center"><a class="btn btn-primary" th:href="@{/posts/createpost}">Create Post</a></div>
                        <div class="card-body" align="center"><a class="btn btn-primary" th:href="@{/categories}">Categories</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>