<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head"/>
    </head>
    <body style="font-family: 'Raleway', sans-serif;">
        <!-- Responsive navbar-->
        <div th:replace="fragments/navbar :: navbar"/>
        <!-- Page header with logo and tagline-->
        <div th:replace="fragments/header :: header"/>
        <!-- Page content-->
        <div class="container" style="min-height: 80vh;">
            <div class="row">
                <div class="col-lg-10">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-10">
                        <!-- Blog posts-->
                            <div class="card mb-4">
                                <div class="card-header"><h4 th:text="|${user.userName}'s Posts|"></h4></div>
                                    <div class="card-body" th:each="post: ${listPosts}">
                                        <div class="small text-muted" th:text="${post.user.userName}"></div>
                                        <h2 class="card-title h4" th:text="${post.heading}"></h2>
                                        <p class="card-text" th:text="${post.content}"></p>
                                        <a class="btn btn-primary" th:href="@{'/posts/post/' + ${post.id}}">See Post</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/widget :: widget"/>
            </div>
        </div>
        <!-- Footer-->
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>